.splunk-event-sort svg {
    fill: gray;
}

.splunk-event-sort .axis path,.axis line {
  fill: none;
  stroke: #b6b6b6;
  shape-rendering: crispEdges;
}
.splunk-event-sort .tick text {
  fill: #555;
  font-size:10px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica;
  cursor: pointer;  
}

.splunk-event-sort .bar-label {
  fill: #aaa;
  font-size: 15px;
}